/* место для вашего кода */

/* =================================OVERLAY================================= */

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	inset: 0;
}
/* ==============================HEADER====================================== */

.header {
	display: grid;
	max-width: 1100px;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding: 110px 51px 89px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.header__menu {
	grid-column: 1;
	min-width: max-content;
	justify-self: start;
}

.header__links-list {
	display: flex;
	gap: 30px;
}

.header__links-list-item {
	list-style-type: circle;
}

.header__links-list-item_no-bullit {
	list-style-type: none;
}

.header__link {
	text-decoration: none;
	white-space: nowrap;
}

.header__link_active {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.header__logo {
	grid-column: 2;
	width: 140px;
}

.header__logo-image {
	width: 100%;
}

.address {
	grid-column: 3;
	font-style: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.35;
}

.header__address {
	justify-self: end;
	font-style: inherit;
}

.header__address-link {
	text-decoration-line: underline;
	text-underline-offset: 4px;
}

.header__address-text {
	font-size: 18px;
	line-height: 1.35;
}

/* ========================================COVER=============================================== */
.cover {
	position: relative;
	padding: 173px 50px 50px 50px;
	color: #fff;
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}

.cover__title {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 135px;
	font-weight: 700;
	font-size: 100px;
	line-height: 100%;
	letter-spacing: 30px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.cover__description {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	z-index: 2;
}

.cover__description-text {
	margin-right: 80px;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 18px;
}
.cover__description-button {
	border: 1px solid #fff;
	padding: 12px 32px;
	color: inherit;
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
	cursor: pointer;
}

.letter-spacing-extended {
	letter-spacing: 60px;
}

.no-letter-spacing {
	letter-spacing: normal;
}

.aligned-text {
	display: block;
}

.aligned-text_center {
	display: block;
}

.aligned-text_right {
	display: block;
}

.aligned-text {
	text-align: left;
}

.aligned-text_center {
	text-align: center;
}

.aligned-text_right {
	text-align: right;
}

/* ==============================================LOTS=================================================== */

.lots {
	padding: 179px 23px 10px 25px;
}

.lots__heading {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 76px;
	text-transform: uppercase;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 48px 40px;
	z-index: 2;
}

.book {
	background-color: #a7a7a7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/card-lot-01.jpg");
}
.film {
	background-color: #a7a7a7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/card-lot-02.jpg");
}

.painting {
	background-color: #a7a7a7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/card-lot-03.jpg");
}

.card-link {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.lots__card-list {
	display: flex;
	gap: 25px;
	list-style: none;
	width: 100%;
	margin-bottom: 30px;
}

.lots__card-list-iteam {
	flex: 1 1 334px;
	min-height: 563px;
}

.lots__look-more-link {
	margin-left: 38px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.card__title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	z-index: 2;
}

.card__text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	z-index: 2;
}

/* ===================================================ABOUT============================================ */

.about {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 51px;
	padding: 130px 50px 90px 50px;
}
.about__logo {
	display: flex;
	width: 240px;
	height: 240px;
	margin: 38px 21px;
	background: #000;
	border-radius: 120px;
}
.about__logo-image {
	width: 136px;
	height: 102px;
	margin: auto;
	object-fit: contain;
	background-color: #000;
}

.about__title {
	margin-top: 136px;
	margin-bottom: 100px;
	font-weight: 700;
	font-size: 40px;
	line-height: normal;
	text-transform: uppercase;
}

.about__text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 26px;
}

/* ============================FOOTER========================================== */

.footer {
	display: flex;
	padding: 66px 52px;
	gap: 185px;
}

.footer__menu-list {
	text-align: center;
	list-style: none;
}

.footer__menu-link {
	font-weight: 400;
	font-size: 18px;
	line-height: normal;
	line-height: normal;
	text-underline-offset: 2px;
}
.footer__social-list {
	display: flex;
	gap: 48px;
	max-width: 240px;
	list-style: none;
}

.footer__social-link {
	display: block;
	width: 48px;
	height: 48px;
}
